<!DOCTYPE html>
<html>

    <head>
        <title>AMPLOP LINK</title>
        <style>
            body {
                background: url("./Assets/background.svg");
                background-size: cover;
                background-position: center center;
                height: 100vh;
                position: relative;
            }
            .amplop img{
                width: 780px;
                position: absolute;
                left: 25%;
                bottom: 6%;
            }
        </style>
    </head>

    <body>
        <a href="">
            <div class="amplop">
                <img src="./Assets/amplop1.png" onmouseover="this.src='./Assets/amploplagi.png'" onmouseout="this.src='images/amplop1.png'">
            </div>
        </a>

    </body>
</html>