<!DOCTYPE html>
<i>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Homepage</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="./stylesheets/style.css" rel="stylesheet" />
    <style>
      .parent{
        position:relative;
      }

    </style>
  </head>
  <img>
    <header></header>
    <main></main>
    <nav></nav>
    <section></section>
    <footer></footer>

    <label for=""></label>
    <span></span>
    <canvas></canvas>
    <caption></caption>
    <code>
      <pre>
            x = 5;
            y = 6;
        </pre
      >
      <kbd>Enter</kbd>
      z = x + y;
    </code>
    <h1><%=locals.name%></h1>
    <!-- <embed type="image/jpg" src="pic_trulli.jpg" width="300" height="200"> -->
    <fieldset>
      <legend>Awesome:</legend>
      <label for="fname">First Name:</label> <input type="text" /><br /><br />
      <label for="lname">Last Name:</label> <input type="text" /><br /><br />
      <input type="submit" value="Submit" />
    </fieldset>
    <div class="parent">
      <label for="">Dear,</label>
      <input type="text" penholder="First Name">
    </div>
    <!-- <div class="image1"></div> -->
    <!-- inget keknya root ada di public -->
    <img class="image1" src=<%=data%>>
    <!-- <h1><%=data%></h1> -->
    <div class=".css-selector-demo">HI</div>
    <div class=".el"></div>
  </body>
  <script>
  anime({
  targets: '.css-selector-demo',
  translateX: 500
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
  <script src ="./mechanic/anime.js"></script>
</html>
