<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Homepage</title>
<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no'/>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="_password.scss" rel="stylesheet">
</head>
<body>

   <!-- section diassign background -->
    <section class="enter-password-page">

       <!-- flex col kasih padding buat bikin kotak -->       
       <div class="flex-col">
          <h1 class = "password-please">Password Please</h1>
          <!-- id karena gk bakal ada yang sama buat design inputan password please -->
          <div class ="input-space">
            <input id = "entry-password" type="text">
                  <div class = "button">
                     <img src="hatikunci.png" alt="click here">
                  </div>
                  <!-- <input type="button" onclick = "validate()" value=""> -->
            <!-- logo hati make css:after di inputnya-->
         </div>
         </div>
    </section>

</body>
<script src="index.js"></script>
</html>