<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Homepage</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- links -->
    <link href="./stylesheets/index.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Reenie Beanie' rel='stylesheet'>

    <!-- header scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>
    <main class ="LandingPage">
      <div class="center">
        <!-- start forms -->
        <!-- <form action="https://localhost:6969/api/create" method="POST"> -->

              <textarea id="story" name="content"
                        rows="20" cols="100" ><%=content%></textarea>
              <div class="bottom-button">
                <!-- <label class="boy-girl-switch">
                  <input type="checkbox" class = "switcher" name ="type">
                  <span class="slider round"></span>
                </label> -->
                <!-- <button id="send-mail" type = "button">

                  Send Mail
                </button> -->
              </div>
              <!-- hidden -->
              <!-- <div class="centerSender"> -->
                <!-- <div class="hidden" hidden >
                    <label class="hidden-label" for="#password">Sender</label>
                    <input class="hidden-input"type="text" name="password" id="#password">
                    <label class="hidden-label" for="#hints" >Hints (Optional)</label>
                    <input class="hidden-input"type="text" name="hint" id="#hints">
                    <div class="flex-end">
                      <button type="submit" class="submit"><span>Next</span></button>
                    </div>
                </div> -->
              <!-- </div> -->

              <!-- how to fix this shit -->
              <!-- <div class="hidden" hidden>
                <img src=rCode alt="qrcode" default="#">
                <label for="">Save Qr Code</label>
                <label for="">Or</label>
                <input type="email" placeholder="SecreteAdmirers@gmail.com">
                <button>Send</button>
              </div> -->
              <!-- end of hidden -->
          <!-- <button type="submit"><span> Hi</span>Send Mail</button> -->
        <!-- </form> -->
        <!-- end form -->
      </div>
    </main>
  </body>
  <script src = "./mechanic/LandingPage.js"></script>
</html>
