@media only screen and (max-width: 525px) {
  .LandingPage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #f58da8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .center {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  form {
    width: 300px;
    margin: 0;
    padding: 0;
  }
  .hidden {
    position: absolute;
    padding: 30px;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 350px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 145px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 145px rgba(0, 0, 0, 0.15);
  }
}

.LandingPage {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #f58da8;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 10px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10%;
  border-radius: 2px;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

form textarea {
  resize: vertical;
  border: none !important;
  padding: 20px;
}

form textarea:focus {
  border: none !important;
  outline: 1px solid white;
}

form textarea::-webkit-scrollbar {
  width: 5px;
}

form textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

form textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

form textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

form .next-Icon {
  position: absolute;
  right: 50px;
  bottom: 100px;
}

form .bottom-button {
  width: 100%;
  background-color: #f58da8;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .bottom-button #send-mail {
  margin-left: 10px;
  height: 34px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

form .boy-girl-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

form .boy-girl-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

form .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

form .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f58da8;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

form input:checked + .slider {
  background-color: white;
}

form input:checked + .slider {
  background-color: white;
}

form input:focus + .slider {
  -webkit-box-shadow: 0 0 1px white;
          box-shadow: 0 0 1px white;
}

form input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #80c7d0;
}

form .slider.round {
  border-radius: 34px;
}

form .slider.round:before {
  border-radius: 50%;
}

form .boy-girl-switch {
  margin-left: auto;
  margin-right: 0;
}

text {
  width: 50%;
}

input {
  padding: 15px 10px;
}

button {
  padding: 20px;
}

#hidden {
  position: absolute;
  width: 100%;
  padding: 30px;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 450px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 145px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 145px rgba(0, 0, 0, 0.15);
}

#section1 .hidden-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px auto;
  text-align: left;
}

#section1 .hidden-input {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px auto;
}

#section1 .flex-end {
  width: 100%;
  position: relative;
}

#section1 .flex-end .submit {
  height: auto;
  background-color: #f58da8;
  right: 0;
  width: 150px;
  z-index: 1;
  position: absolute;
}

#section1 .flex-end .submit span {
  position: relative;
  z-index: 2;
  font-weight: bold;
  letter-spacing: 2px;
}

#section1 .flex-end .submit:after {
  right: 0;
  top: 0;
  position: absolute;
  content: "";
  background-color: white;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 100%;
}

#section1 .flex-end .submit:hover {
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  letter-spacing: 2px;
}

#section1 .flex-end .submit:hover:after {
  width: 0%;
  height: 100%;
}

.hidethis {
  padding: 10px;
}

.hidethis #section2 {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hidethis #section2 .QrCode {
  margin: 5px 10px;
}

.hidethis #section2 h1 {
  text-align: center;
  font: 1.5rem;
  margin: 5px 10px;
}

.hidethis #section2 h3 {
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font: 0.5rem;
}

.hidethis #section2 .emil-receiver {
  margin: 2px 10px;
}

.hidethis #section2 .button-wrapper-middle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hidethis #section2 .email-sender {
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 50%;
  height: 3rem;
  font-weight: bold;
  background-color: #f58da8;
  color: white;
  border: none;
}

.hidethis #section2 .email-sender:hover {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  width: 100%;
  background-color: #f58da8;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00b7ff;
}

.image1 {
  background-image: url(../Assets/view.png);
  width: 300px;
  height: 300px;
}
/*# sourceMappingURL=index.css.map */